/** General Styles **/
* {
    user-select: none;
}
body {
    overflow-x: hidden;
}

/*** Custom Classes ***/
.thick-border { border: 3px solid black; }
.thin-border { border: 2px solid black; }
.rad-5 { border-radius: 5px; }
.cursor-pointer { cursor: pointer; }

/*** Bootstrap Overrides ***/
/* Modal Overrides */
.modal-content { border: 3px solid #333; }

/*** Elemental Styles ***/
/* Scrollbar */
::-webkit-scrollbar { width: 20px; }
::-webkit-scrollbar-track { box-shadow: inset 0 0 5px grey; border-radius: 10px; }
::-webkit-scrollbar-thumb {
    background-image: url("svg/plum.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

/*** Feature Styles ***/
/* Inventory Modal */
#inventoryModal .modal-header { padding: 0px; border: none; position: relative; }
#inventoryModal .modal-header #closeInventory { position: absolute; right: -20px; top: -20px; }
#inventoryModal .modal-header #closeInventory:focus { box-shadow: none; }
#inventoryModal .inventory-table td { border: 3px solid black; position: relative; }
#inventoryModal .personal-table td { border: 3px solid black; position: relative; }
#inventoryModal table td .item_catcher { min-height: 65px; }
#inventoryModal table td .item:hover { cursor: pointer; padding: 5px 0px; }
#inventoryModal table td .item { padding: 10px 0px; }
#inventoryModal table td img { pointer-events: none; }
#inventoryModal table td .item_counter {
    position: absolute;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    line-height: 20px;
    min-width: 24px;
    padding: 0px 3px;
    height: 24px;
    left: 2px;
    bottom: 2px;
    pointer-events: none;
}
#inventoryModal table td .item:hover img { height: 55px; position: relative; }

/* General Modal */
#generalModal .modal-header { padding: 0px; border: none; position: relative; }
#generalModal .modal-header #closeInventory { position: absolute; right: -20px; top: -20px; z-index: 12000;}
#generalModal .modal-header #closeInventory:focus { box-shadow: none; }

/* Search Modal */
.resource-pickup {
    position: relative;
}
.resource-pickup .item_counter {
    position: absolute;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    line-height: 20px;
    min-width: 24px;
    padding: 0px 3px;
    height: 24px;
    left: 2px;
    bottom: -14px;
    pointer-events: none;
}

/* Tools and Result Table */
#inventoryModal .tool-table td { border: 3px solid black; position: relative; }
#inventoryModal .result-table #delivery { border: 3px solid black; position: relative; }

/* Close by Directional */
#directionalContainer { position: relative; width: 100%;}
#directional {
    background-color: rgba(25, 25, 25, 0);
    position: absolute;
    width: 560px;
    height: 560px;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
#arrowContainer {
    transform-origin: center;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0);
}
#directionalArrow {
    width: 100%;
    text-align: center;
    animation: arrowBounce 1.5s linear 0s infinite;
    animation-timing-function: ease-in-out;
}
#directionalArrow img { width: 65px; filter: drop-shadow( 5px 5px 3px rgba(255, 255, 255, .7)); }
@keyframes arrowBounce {
    0% {padding-top: 0px;}
    45% {padding-top: 25px;}
    50% {padding-top: 25px;}
    55% {padding-top: 25px;}
    100% {padding-top: 0px;}
}

/*** Heads Up ***/
/* Heads Up Container */
#headsUpContainer { position: fixed; width: 100vw; height: 100vh; pointer-events: none; z-index: 10000; }
#headsUpDisplay { position: relative; width: 100%; height: 100%; }

/* Heads Up Hot Bar */
#headsUpHotBar { border: 3px solid black; position: absolute; bottom: 0; right: 50%; transform: translateX(50%); background-color: white; z-index: 10000; }
#headsUpHotBar td { border: 3px solid black; position: relative; }
#headsUpHotBar td section { padding: 15px; height: 75px; width: 75px; }
#headsUpHotBar td .item_counter {
    position: absolute;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    line-height: 20px;
    min-width: 24px;
    padding: 0px 3px;
    height: 24px;
    left: 2px;
    bottom: 2px;
    pointer-events: none;
}

/* Heads Up Nav */
#headsUpNav { position: absolute; width: 100%; height: 100%; }
#topButtons { position: absolute; top: 137px; right: 60px; border: 1px solid black; }
#bottomButtons { position: absolute; bottom: 60px; left: 40px; border: 1px solid black; }
.pointEventsOn { pointer-events: all; }

/*** Tools ***/
/* Tool Inputs */
.tool-input {
    height: 75px;
}
.tool-table {

}